* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
h2 {
    font-size: 5rem;
    margin: 1rem;
}
button {
    outline: none;
    padding: 1rem 2rem;
    margin: 0.5rem;
    background-color: #ffe922;
    font-size: 1.1rem;
    border: 1px solid #ad9c00;
    border-radius: 8px;
    cursor: pointer;
}
button:disabled {
  background-color: #a7a7a7;  
  cursor: not-allowed;         
  opacity: 0.6;
}
input {
    padding: 1.2rem;
    margin: 0.5rem;
    border: 1px solid blue;
    border-radius: 8px;
    font-size: 1.2rem;
}